<form (ngSubmit)="onSubmit()">
  <div class="col-md-2">
    <label>Ile de Départ</label>
    <mat-form-field appaerance="outline">
      <input type="text" matInput [formControl]="ileDepartControl" [matAutocomplete]="autoDepart" name="ileDepartId" required>
        <mat-autocomplete #autoDepart="matAutocomplete" (optionSelected)="setIleDepart($event.option.value)">
        <mat-option selected disabled>Choisissez votre île...</mat-option>
        <mat-option *ngFor="let ile of filteredIlesDepart" [value]="ile">
          {{ ile.intitule }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="col-md-2">
    <label>Ile d'Arrivée</label>
    <mat-form-field appearance="outline">
    <input type="text" matInput [formControl]="ileArriveeControl" [matAutocomplete]="autoArrivee" name="ileArriveeId" required>
      <mat-autocomplete #autoArrivee="matAutocomplete" (optionSelected)="setIleArrivee($event.option.value)">
      <mat-option selected disabled>Choisissez votre destination...</mat-option>
      <mat-option *ngFor="let ile of filteredIlesArrivee" [value]="ile">
        {{ ile.intitule }}
      </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  </div>

  <div class="col-md-2">
    <label>Marchandises</label>
    <select class="form-select" [(ngModel)]="codeTarif" name="codeTarif" required>
      <option selected disabled>Choisissez votre marchandise...</option>
      <option *ngFor="let tarif of tarifsrevatuas" [value]="tarif.code">{{ tarif.intitule }}</option>
    </select>
  </div>

  <div class="col-md-2">
    <label class="form-label">Poids (en Tonne)</label>
    <input type="number" class="form-control" [(ngModel)]="poids" name="poids" required/>
  </div>
  <div class="col-md-2">
    <label class="form-label">Volume (en m3)</label>
    <input type="number" class="form-control" [(ngModel)]="volume" name="volume" required/>
  </div>

  <div class="container mt-5">
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg me-2">Calculer</button>
      <button type="button" class="btn btn-primary btn-lg me-2" (click)="calcul()">Calculer le fret</button>
      <button type="button" class="btn btn-secondary btn-lg me-2" (click)="resetForm()">Annuler</button>
    </div>
  </div>
</form>

<div class="text-center mt-3">
  <h3>Tarif</h3>
  <p *ngIf="montant !== undefined; else noData">{{ montant | number}} XPF</p>

  <h3>Fret</h3>
  <p *ngIf="resultat !== undefined; else noData">{{ resultat | number}} XPF</p>

  <ng-template #noData>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </ng-template>
</div>
