<form>
  <div class="col-md-3">
    <label>Ile de Départ</label>
    <select class="form-select">
      <option selected>Choisissez votre île...</option>
      <option value="1">Tahiti</option>
      <option value="2">Huahine</option>
      <option value="3">Borabora</option>
    </select>
  </div>
  <div class="col-md-3">
    <label>Ile d'Arrivée</label>
    <select class="form-select">
      <option selected>Choisissez votre destination...</option>
      <option value="1">Tahiti</option>
      <option value="2">Borabora</option>
    </select>
  </div>
  <div class="col-md-3">
    <label>Marchandise</label>
    <select class="form-select">
      <option selected>Choisissez votre marchandise...</option>
      <option value="1">Marchandises Générales</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="poids">Poids</label>
    <input type="text" class="form-control" id="poids" placeholder="Poids en Tonne">
  </div>
  <div class="col-auto">
    <span id="tonne" class="form-text">
      T
    </span>
  </div>
  <div class="col-md-3">
    <label for="volume">Volume</label>
    <input type="text" class="form-control" id="volume" placeholder="Volume en m3">
  </div>
  <div class="col-auto">
    <span id="volume" class="form-text">
      m3
    </span>
  </div>
</form>

<div class="container mt-5">
    <div style="text-align: center;">
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Calculer</button>
        </div>
    </div>
</div>

