<form>
    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Ile de départ</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choisis...</option>
      <option>Tahiti</option>
      <option>Borabora</option>
      <option>Huahine</option>
    </select>
    </div>
    <div class="invalid-feedback">
      Veuillez selectionner une île.
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="form-label">Ile de départ</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choisis...</option>
          <option>Tahiti</option>
          <option>Borabora</option>
          <option>Huahine</option>
        </select>
        </div>
        <div class="invalid-feedback">
          Veuillez selectionner une île.
        </div>
    </form>
    
